@font-face {
    font-family: 'CircularFont'; /* Choose a name for your font */
    src: url('/font/circular-std-medium.ttf') format('truetype'); /* Path to your font file */
    font-weight: normal; /* Optional, set font weight */
    font-style: normal; /* Optional, set font style */
}

body{
    background-image: url('/imgs/stregistro.jpg'); /* Replace with your image file */
    background-size: cover;  /* Ensures the image covers the whole screen */
    background-position: center;  /* Centers the image */
    background-attachment: fixed;  /* Makes the background fixed (optional) */
    background-repeat: no-repeat;
    font-family: 'CircularFont', sans-serif;
}

.logo{
    position: absolute;
    left: 37px;
    top: 30px;
}

ul.menu {
    position: absolute;
    list-style-type: none;
    top: 70px;
    left: 510px;
    text-align: center; /* Center the menu items */
}

/* Style for each menu item */
ul.menu li {
    display: inline; /* Display items in a row */
    padding: 30px 40px;
}

/* Style for links */
ul.menu li a {
    text-decoration: none; /* Remove underlines from links */
    color: white; /* White text */
    font-size: 18px;
}

/* Hover effect */
ul.menu li a:hover {
    color: #957E37; /* Darker background on hover */
}

.titulo{
    color: white;
    position: absolute;
    top: 230px;
    left: 200px;
    height: auto;
    text-align: left;
    font-weight: 500;
    font-size: 60px;
}

.desc{
    color: white;
    position: absolute;
    top: 400px;
    width: 1000px;;
    text-align: left;
    left: 200px;
    font-size: 20px;
    font-weight: medium;
}

.nombre{
    position: absolute;
    top: 460px;
    left: 200px;
    padding: 15px 50px;
    border-radius: 25px;
    border: none;
}

.apellido{
    position: absolute;
    top: 460px;
    left: 510px;
    padding: 15px 50px;
    border-radius: 25px;
    border: none;
}

.correo{
    position: absolute;
    top: 540px;
    left: 200px;
    padding: 15px 45px;
    border-radius: 25px;
    border: none;
    width: 590px;
}

.contraseña{
    position: absolute;
    top: 620px;
    left: 200px;
    padding: 15px 45px;
    border-radius: 25px;
    border: none;
    width: 590px;
}

.btnEmpezar{
    background-color: #957E37;
    position: absolute;
    border: none;
    border-radius: 25px;
    padding: 13px 50px;
    bottom: 230px;
    left: 200px;
    width: 275px;
    font-weight: medium;
    color: black;
    text-align: center;
    font-size: 20px;
}

.btnEmpezar:hover{
    color: black;
    text-decoration: none;
}

.alreadyAcc{
    color: white;
    position: absolute;
    bottom: 140px;
    width: 1000px;;
    text-align: left;
    left: 200px;
    font-size: 20px;
    font-weight: medium;
}

.satelite{
    position: absolute;
    top: 120px;
    right: 600px;
}